* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: url('../imagens/the-big-bang-theory-season-11-poster-pp-1920x1080.jpg') center center/cover;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
}

.content {
    position: absolute;
    color: #fff;
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    background: transparent;
    backdrop-filter: blur(1px);
    border-radius: 25px;
}

.content h1 {
    font-size: 30px;
}

.content p {
    font-size: 11px;
    width: 300px;
}

.content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.content .details h6 {
    color: rgb(255, 255, 255, .8);
    font-size: 10px;
    margin-right: 10px;
}

.content .details h5 {
    color: rgb(142, 230, 48,);
    font-size: 10px;
    margin-right: 10px;
}

.content .details h4 {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}

.content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.content .btns a{
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #00ffbf, #00202c);
    border-radius: 10px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    animation: button 1s linear infinite;
}

@keyframes button {
    0%{
        background: linear-gradient(0deg, #a200ff, #1c002c);
    }
    12%{
        background: linear-gradient(45deg, #a200ff, #1c002c);
    }
    24%{
        background: linear-gradient(95deg, #a200ff, #1c002c);
    }
    36%{
        background: linear-gradient(145deg, #a200ff, #1c002c);
    }
    48%{
        background: linear-gradient(195deg, #a200ff, #1c002c);
    }
    60%{
        background: linear-gradient(245deg, #a200ff, #1c002c);
    }
    72%{
        background: linear-gradient(295deg, #a200ff, #1c002c);
    }
    100%{
        background: linear-gradient(360deg, #a200ff, #1c002c);
    }
}